<!DOCTYPE html>
<html xmlns:th="/http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/main_layout}">
<head>
<title>Register Form</title>
</head>

<body >

<div layout:fragment="content" class="container myspace">

<div class="alert alert-danger" th:if="${param.error}">

<h2>Votre Email ou Password est invalide</h2>
</div>
	<div class=" contour">
<!-- 			<div class="card card-body"> -->
	<form th:action="@{/login}"  method="post">
	
	
	<div class="form-group">
	<label for="email" class="form-control-label">Email</label>
	<input type="text" class="form-control" id="email" name="username"/>
	</div>
	
	<div class="form-group">
	<label for="password" class="form-control-label">Password</label>
	<input type="password" class="form-control" id="password" name="password"/>
	
	</div>
	
	
	<input type="submit" value="Submit" class="btn btn-primary"/>
	
	</form>

</div>

</div>
<!-- </div> -->
</body>
</html>