<!DOCTYPE html>
<html xmlns:th="/http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>

</head>
<body>

	<div layout:fragment="content" class="container myspace">
	
	<div class="form-group mb-2">
	<a th:href="@{/addAppP(email=${email})}" class="btn btn-dark">Add Appartement</a>
	
	</div>

		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Photo</th>
							<th>Titre</th>
							<th>Adresse</th>
							<th>Quartier</th>
							<th>Prix</th>
							<th>Edit</th>
							<th>Delete</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="app:${appartements}">
							<td><img th:src="@{'/image/{id}'(id=${app.photos})}"
								 width="100" height="100" /></td>
							<td th:text="${app.titre}"></td>
							<td th:text="${app.adresse}"></td>
							<td th:text="${app.quartier}"></td>
							<td th:text="${app.prix}"></td>

							<td><a th:href="@{/editApp(id=${app.id})}" class="btn btn-primary eBtn"><span
								class="glyphicon glyphicon-edit"></span> Edit</a></td>
							<td><a onclick="return confirm('Etes vous sûre de supprimer cette offre?')" 
									th:href="@{/deleteApp(id=${app.id})}">Delete</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
			
					
		</div>
	</div>


</body>
</html>